<div class="row vw-100 vh-100">
  <div class="col-3 border-right border-dark py-4">
    <ul>
      <li>
        <a routerLink="/signals">Signals</a>
      </li>
      <li>
        <a routerLink="/signals-with-rxjs">Signals combined with RxJS</a>
      </li>
      <li>
        <a routerLink="/control-flow">New Control Flow</a>
      </li>
      <li>
        <a routerLink="/deferred-views">Deferred views</a>
      </li>
      <li>
        <a routerLink="/standalone">Standalone components</a>
      </li>
    </ul>
  </div>
  <div class="col-9 p-4">
    <router-outlet></router-outlet>
  </div>
</div>